.custom-user-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.custom-user-menu .menu-title {
    background-color: #f8f8f8;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.custom-user-menu:hover .custom-submenu {
    display: block; /* Show on hover */
}

.custom-submenu {
    display: none; /* Hide by default */
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px #aaa;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    z-index: 1000;
}

.custom-submenu a {
    color: #555;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.custom-submenu a:hover {
    background-color: #eee;
}
